openapi: 3.2.0
info:
  description: Currents API Endpoint
  version: 1.0.0
  title: Currents API Format Endpoint API
  termsOfService: https://currentsapi.services/terms
  contact:
    email: hi@currentsapi.services
servers:
- url: https://api.currentsapi.services/v1
tags:
- name: Endpoint
  description: Currents API Endpoint
  externalDocs:
    description: Find out more
    url: https://currentsapi.services/docs
paths:
  /search:
    get:
      tags:
      - Endpoint
      summary: Search query results
      description: ''
      operationId: search
      parameters:
      - name: language
        in: query
        description: Language values that need to be considered for filter
        required: false
        schema:
          type: string
      - name: keywords
        in: query
        description: Keyword values that need to be considered for filter
        required: false
        schema:
          type: string
      - name: country
        in: query
        description: Country values that need to be considered for filter
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Category values that need to be considered for filter
        required: false
        schema:
          type: string
      - name: start_date
        in: query
        description: 'Starting Date format should follow : YYYY-MM-DDTHH:MM:SS+00:00'
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: 'End Date format should follow : YYYY-MM-DDTHH:MM:SS+00:00'
        required: false
        schema:
          type: string
      security:
        APIKeyHeader: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/News'
                example:
                  status: ok
                  news:
                  - id: ac4062d1-5fbb-4784-bf1d-6b50f5f643a0
                    title: 'Tulevaisuustutkija Markku Wilenius tietää, että 10 vuoden päästä elämme täysin erilaisessa maailmassa: "Suuri herääminen on selvästi tapahtumassa"'
                    description: 'Elämä on tähän saakka pyörinyt perustarpeiden ympärillä. Meille on riittänyt, että suuhun on saanut syötävää, on ollut paikka missä asua, puoliso, kavereita ja mahdollisuus hiukan toteuttaa itseään.

                      T...'
                    url: https://yle.fi/uutiset/3-10905769?origin=rss
                    author: yle
                    image: //images.cdn.yle.fi/image/upload/w_960,h_640/13-3-10906278.jpg
                    language: fi
                    category:
                    - general
                    published: 2019-08-04 14:22:08 +0000
                  - id: 713f0c68-9bac-4168-9880-c94eecaf735f
                    title: Tubettaja muuttaa vuodeksi Sodankylään ja markkinoi kuntaa somessaan – 2 500 euron kuukausipalkka herättänyt närää kuntalaisissa
                    description: 'Kunnissa tiedostetaan, kuinka tärkeää oikeiden mielikuvien luominen on, kun yritetään houkutella uusia asukkaita

                      Muuttoliike suuntautuu useimmin maalta kaupunkiin kuin toisin päin. Kaupunkilaista Fern...'
                    url: https://yle.fi/uutiset/3-10908157?origin=rss
                    author: yle
                    image: None
                    language: fi
                    category:
                    - general
                    published: 2019-08-04 14:22:08 +0000
        '401':
          description: Unauthorized access
        '429':
          description: Token limit reached
  /latest-news:
    get:
      tags:
      - Endpoint
      summary: Get the latest news by language
      description: Multiple status values can be provided with comma separated strings
      operationId: getLatestNews
      security:
        APIKeyHeader: []
      parameters:
      - name: language
        in: query
        description: Status values that need to be considered for filter
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/News'
                example:
                  status: ok
                  news:
                  - id: ac4062d1-5fbb-4784-bf1d-6b50f5f643a0
                    title: 'Tulevaisuustutkija Markku Wilenius tietää, että 10 vuoden päästä elämme täysin erilaisessa maailmassa: "Suuri herääminen on selvästi tapahtumassa"'
                    description: 'Elämä on tähän saakka pyörinyt perustarpeiden ympärillä. Meille on riittänyt, että suuhun on saanut syötävää, on ollut paikka missä asua, puoliso, kavereita ja mahdollisuus hiukan toteuttaa itseään.

                      T...'
                    url: https://yle.fi/uutiset/3-10905769?origin=rss
                    author: yle
                    image: //images.cdn.yle.fi/image/upload/w_960,h_640/13-3-10906278.jpg
                    language: fi
                    category:
                    - general
                    published: 2019-08-04 14:22:08 +0000
                  - id: 713f0c68-9bac-4168-9880-c94eecaf735f
                    title: Tubettaja muuttaa vuodeksi Sodankylään ja markkinoi kuntaa somessaan – 2 500 euron kuukausipalkka herättänyt närää kuntalaisissa
                    description: 'Kunnissa tiedostetaan, kuinka tärkeää oikeiden mielikuvien luominen on, kun yritetään houkutella uusia asukkaita

                      Muuttoliike suuntautuu useimmin maalta kaupunkiin kuin toisin päin. Kaupunkilaista Fern...'
                    url: https://yle.fi/uutiset/3-10908157?origin=rss
                    author: yle
                    image: None
                    language: fi
                    category:
                    - general
                    published: 2019-08-04 14:22:08 +0000
        '401':
          description: Unauthorized access
        '429':
          description: Token limit reached
  /available/languages:
    get:
      tags:
      - Endpoint
      summary: Valid language code
      description: Obtain valid language code
      operationId: languages
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                example:
                  languages:
                    Arabic: ar
                    Chinese: zh
                    Dutch: nl
                    English: en
                    Finnish: fi
                    French: fr
                    German: de
                    Hindi: hi
                    Italian: it
                    Japanese: ja
                    Korean: ko
                    Malay: msa
                    Portuguese: pt
                    Russian: ru
                    Spanish: es
                  description: available languages followed by query code
                  status: ok
        '401':
          description: Unauthorized access
        '429':
          description: Token limit reached
  /available/regions:
    get:
      tags:
      - Endpoint
      summary: Valid country region code
      description: Obtain valid region code
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                example:
                  regions:
                    Australia: AS
                    ? ''
                    : PSE
                    Canada: CA
                    China: CN
                    Finland: FI
                    South Korea: SK
                    Taiwan: TW
                    Thailand: TH
                    Vietnam: VIET
                    United State: US
                    German: GB
                    Zimbabwe: ZW
                    Italy: IT
                  description: available regions followed by query code
                  status: ok
        '401':
          description: Unauthorized access
        '429':
          description: Token limit reached
      operationId: getAvailableRegions
      x-operation-id-source: derived
  /available/categories:
    get:
      tags:
      - Endpoint
      summary: Valid country region code
      description: Obtain valid region code
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                example:
                  categories:
                  - regional
                  - technology
                  - lifestyle
                  - business
                  - general
                  - programming
                  - science
                  - entertainment
                  - world
                  - sports
                  - finance
                  - academia
                  - politics
                  - health
                  - opinion
                  - food
                  - game
                  description: order by source count in descending order
                  status: ok
        '401':
          description: Unauthorized access
        '429':
          description: Token limit reached
      operationId: getAvailableCategories
      x-operation-id-source: derived
components:
  schemas:
    News:
      type: object
      properties:
        id:
          type: integer
          format: uuid
        title:
          type: string
          example: Investors are taking a gamble on Bitcoin
        urls:
          type: string
          xml:
            name: linkUrl
            wrapped: true
          items:
            type: string
        category:
          type: array
          xml:
            name: category
            wrapped: true
          items:
            $ref: '#/components/schemas/Tag'
        description:
          type: string
          description: description of the news
        image:
          type: string
          description: link to image urls
        published:
          type: string
          description: date string format
      xml:
        name: News
    Tag:
      type: string
      xml:
        name: Tag
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
